@charset "UTF-8";
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #012c59;
  border: 0px none #f20101;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #f20101;
  border: 0px none #f20101;
}

.padding-0 {
  padding: 0;
}

.cursor-pointer, .header .top-header .account img.user, .header .top-header .account span.matricula {
  cursor: pointer;
}

.display-none {
  display: none;
}

.float-left, header, .main-container, footer.footer {
  float: left;
}

body {
  color: #00285b;
  font-family: "Roboto", sans-serif;
  overflow: hidden auto;
}

.banner-principal {
  width: 100%;
  display: block;
}

.header .top-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
}
.header .top-header .logo-home {
  width: 10%;
}
.header .top-header .nav ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 9;
}
.header .top-header .nav ul li {
  list-style: none;
  display: table-cell;
  padding: 5px 20px;
  position: relative;
}
.header .top-header .nav ul li a {
  color: #012c59;
  text-decoration: none;
  transition: color, border-bottom 0.2s;
  z-index: 10;
  position: relative;
  font-size: 18px;
}
.header .top-header .nav ul li a:hover {
  border-bottom: 3px solid red;
  padding-bottom: 10px;
  color: #f20101;
}
.header .top-header .nav ul li .nav_sub_menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  padding: 35px 0 10px;
  min-width: 100%;
}
.header .top-header .nav ul li .nav_sub_menu li a {
  font-size: 14px;
}
.header .top-header .nav ul li:hover .nav_sub_menu {
  display: flex;
}
.header .top-header .account {
  width: 18%;
}
.header .top-header .account span.matricula {
  font-size: 18px;
  padding: 5px 30px;
  background-color: #f20101;
  transition: 0.2s;
  display: inline-block;
  margin-right: 10px;
}
.header .top-header .account span.matricula a {
  color: #fff;
  text-decoration: none;
}
.header .top-header .account .top_account {
  display: inline-block;
  position: relative;
}
.header .top-header .account .top_account .form_login {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 9;
  border: 2px solid #e1e1e1;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
}
.header .top-header .account .top_account .form_login h4 {
  font-size: 18px;
  letter-spacing: 1px;
}
.header .top-header .account .top_account .form_login .login span {
  margin-bottom: 5px;
  display: block;
}
.header .top-header .account .top_account .form_login .login input:not(.botao-login) {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  height: 30px;
  margin-bottom: 15px;
  transition: 0.6s;
}
.header .top-header .account .top_account .form_login .login input:not(.botao-login).error {
  border-color: #f20101;
}
.header .top-header .account .top_account .form_login .login input.botao-login {
  letter-spacing: 1px;
  font-size: 12px;
  border: none;
  padding: 5px 15px;
  color: #fff;
  background-color: #012c59;
}
.header .top-header .account .top_account .form_login .login input.botao-login.loading {
  background-image: url(../images/giphy.gif);
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  width: 67.78px;
  transform: translate(0, 10px);
}
.header .top-header .account .top_account .form_login .login input.botao-login:hover {
  opacity: 0.7;
}
.header .top-header .account span.matricula:hover {
  opacity: 0.6;
}
.header .top-header .account img.user {
  width: 14px;
  height: auto;
}
.header .top-header .account span.user_logged {
  position: absolute;
  top: 2px;
  left: 20px;
  max-width: 90px;
  max-height: 22px;
  overflow: hidden;
  transition: 0.3s;
}
.header .top-header .account span.user_logged a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  color: #012c59;
  text-align: right;
}
.header .top-header .account span.user_logged a.logout {
  font-size: 12px;
  opacity: 0.7;
}
.header .top-header .account span.user_logged:hover {
  max-height: 50px;
}

body:not(.home) .main-container {
  margin: 20px auto 50px;
  padding: 0 5%;
}

footer.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 5%;
  background-color: #f20101;
}
footer.footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
footer.footer ul li {
  list-style: none;
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 10px;
  text-transform: "unset";
}
footer.footer ul li :hover {
  opacity: 0.7;
  text-decoration: none;
}
footer.footer ul li a {
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0;
  text-transform: "unset";
}
footer.footer ul li a :hover {
  opacity: 0.7;
  text-decoration: none;
}
footer.footer ul li img.social-media {
  width: 15px;
  height: auto;
  margin: 0 10px 0 -4px;
  filter: invert(1);
}
footer.footer ul li.footer-title {
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: "uppercase";
}
footer.footer ul li.footer-title :hover {
  opacity: 0.7;
  text-decoration: none;
}
footer.footer ul:not(:first-child) {
  justify-content: flex-start;
}
footer.footer ul:first-child {
  justify-content: center;
}

header, .main-container, footer.footer {
  width: 100%;
}

header {
  transition: background-color 0.5s;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  opacity: 0.9;
}

.page_notfound {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #012c59;
  letter-spacing: 0.5px;
}
.page_notfound h3 {
  font-size: 26px;
}
.page_notfound a {
  padding: 5px 15px;
  background-color: #f20101;
  color: #fff;
  text-decoration: none;
}
.page_notfound a:hover {
  opacity: 0.7;
}

button.slick-arrow {
  z-index: 9;
}

button.slick-next.slick-arrow {
  right: 5%;
  transform: rotate(180deg) translate(5px, 15px);
}

button.slick-prev.slick-arrow {
  left: 5%;
}

button.slick-prev.slick-arrow:before,
button.slick-next.slick-arrow:before {
  content: "←";
}

.container-conteudo {
  width: 100%;
  display: block;
}

.slick-dots {
  bottom: 30px;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li button {
  background-color: #fff;
  border-radius: 5px;
  width: 0;
  height: 0;
  padding: 5px;
  opacity: 0.5;
}
.slick-dots li.slick-active button {
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
